*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 15px;
}

body{
    width:100%;
    min-height: 100vh;
    background-image: linear-gradient(to bottom,#590000,#010000,#5A0000);
}

main{
    width: 60%;
    margin: 0 auto;
    min-height: 100vh;
}


main header{
    padding: 60px 0;
    /* height:179px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F50003;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

h1{
    font-size: 50px;
    color: white;
    font-weight: bold;
}


main nav{
    display: flex;
    align-items: center;
    padding: 12px;
    height:40px;
}

main nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 15px;
}

main nav ul li{
    padding: 0 20px;
    color: white;
    border-right: 1px solid white;
}

main nav ul li:last-child{
    border-right: none;
}


.main-container{
    padding: 10px;
    /* height:590px; */
    border-radius: 10px;
    background-color: black;
    display: flex;
    gap: 10px;
}

.main-container aside{
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


.categories{
    background-color: white;
    border-radius: 10px;
}

.categories h2{
    font-size: 25px;
    background-color: #3B3B3B;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.categories ul{
    list-style: none;
    margin: 10px;
}

.categories ul li{
    padding: 5px;
    text-align: center;
    font-size: 14px;
    padding-right: 20px;
    border-bottom: 1px solid #7b7a7a;
}



.categories ul li a{
    text-decoration: none;
    color: black;
}


.recentUpdate{
    background-color: white;
    border-radius: 10px;
}

.recentUpdate h2{
    font-size: 24px;
    background-color: #3B3B3B;
    padding: 10px 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.recent-p{
    padding: 10px;
}

.recentUpdate p{
    font-size: 14px;
    margin: 13px 5px 10px 15px;
    color: black;
    text-align: justify;
    overflow-wrap: break-word;
}

.recentUpdate p span{
    font-weight: bold;
}

.recentUpdate p a{
    color: #C381F7;
}


.container{
    width: 77%;
    background-color: #636363;
    border-radius: 10px;
    padding: 10px;
    height:520px
}


.first{
    margin-bottom: 10px;
}

.head{
    height: 26px;
    background-color: #9E9E9E;
    display: flex;
    align-items: center;
}

.head .span{
    margin-left: 30px;
    font-size: 28px;
    font-weight: bold;
    background-color: #636363;
    padding: 0px 5px;
}

.About-p{
    font-size: 14px;
    margin-left: 19px;
    padding-left: 19px;
    margin-top:20px ;
    color: #AFAFAF;
}

.white{
    color: white;
    font-weight: bold;
}

.blue{
    color: #2A93BE;
}

.violet{
    color: #FFB8CA;
}

.container ul{
    margin-top: 15px;
    margin-left: 55px;
}

.container ul li{
    font-size: 14px;
    font-weight: bold;
    color: white;
    line-height: 24px;
}

#second{
    display: flex;

}

#second article{
    width: 50%;
    position: relative;
}



#second .about{
    border-right: 1px dashed white;
    padding-right: 10px;
    padding-bottom: 21px;
    margin-right: 5px;padding-top: 10px;
    position: relative;
}
#second .recent{
    padding-top: 10px;
    padding-left: 5px;
    position: relative;
}
#second  article .readme{
    position: absolute;
    right:3px;
    font-size: 14px;
    margin-right: 10px;
    margin-top: 8px;
    color:white
}


footer{
    padding: 21px 0;
    /* height:60px; */
    border-radius: 10px;
    background-image: linear-gradient(to bottom,#820000,#010000);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
}

footer p{
    font-size: 14px;
    padding-right: 20px;
}

footer p a{
    color: #2679DE;
}

footer ul{
    list-style: none;
    display: flex;
    padding-right: 20px;
    font-size: 13px;
}

footer ul li{
    padding: 0 14px;
    border-right: 1px solid white;
}

footer ul li:last-child{
    border-right: none;
}
